In [1]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Collecting matplotlib
  Downloading matplotlib-3.5.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.2/11.2 MB 112.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pillow>=6.2.0 in /mnt/notebook-env/lib/python3.7/site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /mnt/notebook-env/lib/python3.7/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /mnt/notebook-env/lib/python3.7/site-packages (from matplotlib) (3.0.4)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 965.4/965.4 kB 99.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in /mnt/notebook-env/lib/python3.7/site-packages (from matplotlib) (1.21.5)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.5-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 98.0 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in /mnt/notebook-env/lib/python3.7/site-packages (from matplotlib) (21.3)
Requirement already satisfied: typing-extensions in /mnt/notebook-env/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (4.3.0)
Requirement already satisfied: six>=1.5 in /mnt/notebook-env/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: kiwisolver, fonttools, cycler, matplotlib
  WARNING: The scripts fonttools, pyftmerge, pyftsubset and ttx are installed in '/home/emr-notebook/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed cycler-0.11.0 fonttools-4.38.0 kiwisolver-1.4.5 matplotlib-3.5.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Collecting pyarrow
  Downloading pyarrow-12.0.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (39.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 39.1/39.1 MB 59.6 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.16.6 in /mnt/notebook-env/lib/python3.7/site-packages (from pyarrow) (1.21.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-12.0.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install fastparquet

Defaulting to user installation because normal site-packages is not writeable
Collecting fastparquet
  Downloading fastparquet-0.8.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 54.4 MB/s eta 0:00:00
Collecting fsspec
  Downloading fsspec-2023.1.0-py3-none-any.whl (143 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.0/143.0 kB 37.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.18 in /mnt/notebook-env/lib/python3.7/site-packages (from fastparquet) (1.21.5)
Collecting cramjam>=2.3.0
  Downloading cramjam-2.8.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 73.8 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.1.0 in /mnt/notebook-env/lib/python3.7/site-packages (from fastparquet) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /mnt/notebook-env/lib/python3.7/site-packages (from pandas>=1.1.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /mnt/notebook-env/lib/python3.7/site-packages (from pandas>=1.1.0->fastparquet) (2022.1)
Requirement already satisfied: six>=1.5 in /mnt/notebook-env/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=1.1.0->fastparquet) (1.16.0)
Installing collected packages: fsspec, cramjam, fastparquet
Successfully installed cramjam-2.8.3 fastparquet-0.8.1 fsspec-2023.1.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install s3fs

Defaulting to user installation because normal site-packages is not writeable
Collecting s3fs
  Downloading s3fs-2023.1.0-py3-none-any.whl (27 kB)
Collecting aiobotocore~=2.4.2
  Downloading aiobotocore-2.4.2-py3-none-any.whl (66 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 66.8/66.8 kB 17.2 MB/s eta 0:00:00
Requirement already satisfied: fsspec==2023.1.0 in /home/emr-notebook/.local/lib/python3.7/site-packages (from s3fs) (2023.1.0)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /mnt/notebook-env/lib/python3.7/site-packages (from s3fs) (3.8.1)
Collecting botocore<1.27.60,>=1.27.59
  Downloading botocore-1.27.59-py3-none-any.whl (9.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.1/9.1 MB 121.5 MB/s eta 0:00:0000:0100:01
Collecting aioitertools>=0.5.1
  Downloading aioitertools-0.11.0-py3-none-any.whl (23 kB)
Collecting wrapt>=1.10.10
  Downloading wrapt-1.16.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (77 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.5/77.5 kB 18.6 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /mnt/notebook-env/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (2.0.4)
Requirement already satisfied: typing-extensions>=3.7.4 in /mnt/notebook-env/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (4.3.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /mnt/notebook-env/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.6.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /mnt/notebook-env/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (5.2.0)
Requirement already satisfied: attrs>=17.3.0 in /mnt/notebook-env/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (21.4.0)
Requirement already satisfied: frozenlist>=1.1.1 in /mnt/notebook-env/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.2.0)
Requirement already satisfied: aiosignal>=1.1.2 in /mnt/notebook-env/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (1.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /mnt/notebook-env/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (4.0.1)
Requirement already satisfied: asynctest==0.13.0 in /mnt/notebook-env/lib/python3.7/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (0.13.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /mnt/notebook-env/lib/python3.7/site-packages (from botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.2->s3fs) (1.26.11)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /mnt/notebook-env/lib/python3.7/site-packages (from botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.2->s3fs) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /mnt/notebook-env/lib/python3.7/site-packages (from botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.2->s3fs) (2.8.2)
Requirement already satisfied: idna>=2.0 in /mnt/notebook-env/lib/python3.7/site-packages (from yarl<2.0,>=1.0->aiohttp!=4.0.0a0,!=4.0.0a1->s3fs) (3.3)
Requirement already satisfied: six>=1.5 in /mnt/notebook-env/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.27.60,>=1.27.59->aiobotocore~=2.4.2->s3fs) (1.16.0)
Installing collected packages: wrapt, aioitertools, botocore, aiobotocore, s3fs
Successfully installed aiobotocore-2.4.2 aioitertools-0.11.0 botocore-1.27.59 s3fs-2023.1.0 wrapt-1.16.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
import sys
!{sys.executable} -m pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Collecting scipy
  Downloading scipy-1.7.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.1/38.1 MB 57.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /mnt/notebook-env/lib/python3.7/site-packages (from scipy) (1.21.5)
Installing collected packages: scipy
Successfully installed scipy-1.7.3

In [6]:
pip install -U scikit-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (24.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.8/24.8 MB 86.0 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy>=1.14.6 in /mnt/notebook-env/lib/python3.7/site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: scipy>=1.1.0 in /home/emr-notebook/.local/lib/python3.7/site-packages (from scikit-learn) (1.7.3)
Collecting joblib>=0.11
  Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 kB 52.7 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.3.2 scikit-learn-1.0.2 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 293.3/293.3 kB 19.0 MB/s eta 0:00:00
Requirement already satisfied: typing_extensions in /mnt/notebook-env/lib/python3.7/site-packages (from seaborn) (4.3.0)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /mnt/notebook-env/lib/python3.7/site-packages (from seaborn) (1.21.5)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /home/emr-notebook/.local/lib/python3.7/site-packages (from seaborn) (3.5.3)
Requirement already satisfied: pandas>=0.25 in /mnt/notebook-env/lib/python3.7/site-packages (from seaborn) (1.3.5)
Requirement already satisfied: cycler>=0.10 in /home/emr-notebook/.local/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in /mnt/notebook-env/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in /mnt/notebook-env/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/emr-notebook/.local/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.5)
Requirement already satisfied: fonttools>=4.22.0 in /home/emr-notebook/.local/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: packaging>=20.0 in /mnt/notebook-env/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /mnt/notebook-env/lib/python3.7/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /mnt/notebook-env/lib/python3.7/site-packages (from pandas>=0.25->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /mnt/notebook-env/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /mnt/notebook-env/lib/python3.7/site-packages (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [9]:
pip install torch

Defaulting to user installation because normal site-packages is not writeable
Collecting torch
  Downloading torch-1.13.1-cp37-cp37m-manylinux1_x86_64.whl (887.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 887.5/887.5 MB 1.3 MB/s eta 0:00:0000:0100:01
Collecting nvidia-cuda-nvrtc-cu11==11.7.99
  Downloading nvidia_cuda_nvrtc_cu11-11.7.99-2-py3-none-manylinux1_x86_64.whl (21.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.0/21.0 MB 91.1 MB/s eta 0:00:0000:0100:01
Collecting nvidia-cudnn-cu11==8.5.0.96
  Downloading nvidia_cudnn_cu11-8.5.0.96-2-py3-none-manylinux1_x86_64.whl (557.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 557.1/557.1 MB 2.3 MB/s eta 0:00:0000:0100:01
Collecting nvidia-cublas-cu11==11.10.3.66
  Downloading nvidia_cublas_cu11-11.10.3.66-py3-none-manylinux1_x86_64.whl (317.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.1/317.1 MB 4.8 MB/s eta 0:00:0000:0100:01
Collecting nvidia-cuda-runtime-cu11==11.7.99
  Downloading nvidia_cuda_runtime_cu11-11.7.99-py3-none-manylinux1_x86_64.whl (849 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 849.3/849.3 kB 79.3 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions in /mnt/notebook-env/lib/python3.7/site-packages (from torch) (4.3.0)
Requirement already satisfied: wheel in /mnt/notebook-env/lib/python3.7/site-packages (from nvidia-cublas-cu11==11.10.3.66->torch) (0.37.1)
Requirement already satisfied: setuptools in /mnt/notebook-env/lib/python3.7/site-packages (from nvidia-cublas-cu11==11.10.3.66->torch) (61.2.0)
Installing collected packages: nvidia-cuda-runtime-cu11, nvidia-cuda-nvrtc-cu11, nvidia-cublas-cu11, nvidia-cudnn-cu11, torch
  WARNING: The scripts convert-caffe2-to-onnx, convert-onnx-to-caffe2 and torchrun are installed in '/home/emr-notebook/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed nvidia-cublas-cu11-11.10.3.66 nvidia-cuda-nvrtc-cu11-11.7.99 nvidia-cuda-runtime-cu11-11.7.99 nvidia-cudnn-cu11-8.5.0.96 torch-1.13.1
Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install statsmodels

Defaulting to user installation because normal site-packages is not writeable
Collecting statsmodels
  Downloading statsmodels-0.13.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 58.8 MB/s eta 0:00:00:00:0100:01
Requirement already satisfied: pandas>=0.25 in /mnt/notebook-env/lib/python3.7/site-packages (from statsmodels) (1.3.5)
Requirement already satisfied: packaging>=21.3 in /mnt/notebook-env/lib/python3.7/site-packages (from statsmodels) (21.3)
Collecting patsy>=0.5.2
  Downloading patsy-1.0.2-py2.py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.3/233.3 kB 11.2 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.3 in /home/emr-notebook/.local/lib/python3.7/site-packages (from statsmodels) (1.7.3)
Requirement already satisfied: numpy>=1.17 in /mnt/notebook-env/lib/python3.7/site-packages (from statsmodels) (1.21.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /mnt/notebook-env/lib/python3.7/site-packages (from packaging>=21.3->statsmodels) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /mnt/notebook-env/lib/python3.7/site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /mnt/notebook-env/lib/python3.7/site-packages (from pandas>=0.25->statsmodels) (2022.1)
Requirement already satisfied: six>=1.5 in /mnt/notebook-env/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.25->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-1.0.2 statsmodels-0.13.5
Note: you may need to restart the kernel to use updated packages.

In [11]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /mnt/notebook-env/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /mnt/notebook-env/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /mnt/notebook-env/lib/python3.7/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /mnt/notebook-env/lib/python3.7/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /mnt/notebook-env/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install wordcloud

Defaulting to user installation because normal site-packages is not writeable
Collecting wordcloud
  Downloading wordcloud-1.9.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (488 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 488.9/488.9 kB 13.5 MB/s eta 0:00:0000:01
Requirement already satisfied: numpy>=1.6.1 in /mnt/notebook-env/lib/python3.7/site-packages (from wordcloud) (1.21.5)
Requirement already satisfied: pillow in /mnt/notebook-env/lib/python3.7/site-packages (from wordcloud) (9.2.0)
Requirement already satisfied: matplotlib in /home/emr-notebook/.local/lib/python3.7/site-packages (from wordcloud) (3.5.3)
Requirement already satisfied: pyparsing>=2.2.1 in /mnt/notebook-env/lib/python3.7/site-packages (from matplotlib->wordcloud) (3.0.4)
Requirement already satisfied: packaging>=20.0 in /mnt/notebook-env/lib/python3.7/site-packages (from matplotlib->wordcloud) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /mnt/notebook-env/lib/python3.7/site-packages (from matplotlib->wordcloud) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /home/emr-notebook/.local/lib/python3.7/site-packages (from matplotlib->wordcloud) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/emr-notebook/.local/lib/python3.7/site-packages (from matplotlib->wordcloud) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/emr-notebook/.local/lib/python3.7/site-packages (from matplotlib->wordcloud) (1.4.5)
Requirement already satisfied: typing-extensions in /mnt/notebook-env/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib->wordcloud) (4.3.0)
Requirement already satisfied: six>=1.5 in /mnt/notebook-env/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib->wordcloud) (1.16.0)
Installing collected packages: wordcloud
  WARNING: The script wordcloud_cli is installed in '/home/emr-notebook/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed wordcloud-1.9.4
Note: you may need to restart the kernel to use updated packages.

In [13]:
pip install tensorflow

Defaulting to user installation because normal site-packages is not writeable
Collecting tensorflow
  Downloading tensorflow-2.11.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (588.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 588.3/588.3 MB 1.7 MB/s eta 0:00:0000:0100:01
Collecting protobuf<3.20,>=3.9.2
  Downloading protobuf-3.19.6-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 91.8 MB/s eta 0:00:00
Collecting flatbuffers>=2.0
  Downloading flatbuffers-25.9.23-py2.py3-none-any.whl (30 kB)
Collecting termcolor>=1.1.0
  Downloading termcolor-2.3.0-py3-none-any.whl (6.9 kB)
Collecting libclang>=13.0.0
  Downloading libclang-18.1.1-py2.py3-none-manylinux2010_x86_64.whl (24.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.5/24.5 MB 81.1 MB/s eta 0:00:0000:0100:01
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.5/57.5 kB 25.1 MB/s eta 0:00:00
Collecting tensorflow-estimator<2.12,>=2.11.0
  Downloading tensorflow_estimator-2.11.0-py2.py3-none-any.whl (439 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 439.2/439.2 kB 75.0 MB/s eta 0:00:00
Requirement already satisfied: wrapt>=1.11.0 in /home/emr-notebook/.local/lib/python3.7/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: numpy>=1.20 in /mnt/notebook-env/lib/python3.7/site-packages (from tensorflow) (1.21.5)
Collecting keras<2.12,>=2.11.0
  Downloading keras-2.11.0-py2.py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 113.3 MB/s eta 0:00:00
Requirement already satisfied: packaging in /mnt/notebook-env/lib/python3.7/site-packages (from tensorflow) (21.3)
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: typing-extensions>=3.6.6 in /mnt/notebook-env/lib/python3.7/site-packages (from tensorflow) (4.3.0)
Collecting grpcio<2.0,>=1.24.3
  Downloading grpcio-1.62.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.6/5.6 MB 130.7 MB/s eta 0:00:0000:01
Collecting absl-py>=1.0.0
  Downloading absl_py-2.1.0-py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.7/133.7 kB 31.8 MB/s eta 0:00:00
Requirement already satisfied: setuptools in /mnt/notebook-env/lib/python3.7/site-packages (from tensorflow) (61.2.0)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.5/65.5 kB 18.0 MB/s eta 0:00:00
Collecting tensorflow-io-gcs-filesystem>=0.23.1
  Downloading tensorflow_io_gcs_filesystem-0.34.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (2.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.4/2.4 MB 22.5 MB/s eta 0:00:0000:01:00:01
Collecting tensorboard<2.12,>=2.11
  Downloading tensorboard-2.11.2-py3-none-any.whl (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 137.0 MB/s eta 0:00:0000:01
Collecting h5py>=2.9.0
  Downloading h5py-3.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.3/4.3 MB 135.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.12.0 in /mnt/notebook-env/lib/python3.7/site-packages (from tensorflow) (1.16.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /mnt/notebook-env/lib/python3.7/site-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /mnt/notebook-env/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.6.0)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-manylinux2010_x86_64.whl (4.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 128.4 MB/s eta 0:00:0000:01
Requirement already satisfied: requests<3,>=2.21.0 in /mnt/notebook-env/lib/python3.7/site-packages (from tensorboard<2.12,>=2.11->tensorflow) (2.28.1)
Collecting werkzeug>=1.0.1
  Downloading Werkzeug-2.2.3-py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.6/233.6 kB 44.4 MB/s eta 0:00:00
Collecting markdown>=2.6.8
  Downloading Markdown-3.4.4-py3-none-any.whl (94 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 94.2/94.2 kB 25.7 MB/s eta 0:00:00
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 781.3/781.3 kB 92.1 MB/s eta 0:00:00
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /mnt/notebook-env/lib/python3.7/site-packages (from packaging->tensorflow) (3.0.4)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /mnt/notebook-env/lib/python3.7/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /mnt/notebook-env/lib/python3.7/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /mnt/notebook-env/lib/python3.7/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /mnt/notebook-env/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow) (1.3.0)
Requirement already satisfied: importlib-metadata>=4.4 in /mnt/notebook-env/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow) (4.11.3)
Requirement already satisfied: certifi>=2017.4.17 in /mnt/notebook-env/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /mnt/notebook-env/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in /mnt/notebook-env/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /mnt/notebook-env/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow) (2.0.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /mnt/notebook-env/lib/python3.7/site-packages (from werkzeug>=1.0.1->tensorboard<2.12,>=2.11->tensorflow) (2.1.1)
Requirement already satisfied: zipp>=0.5 in /mnt/notebook-env/lib/python3.7/site-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.12,>=2.11->tensorflow) (3.8.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /mnt/notebook-env/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /mnt/notebook-env/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow) (3.2.0)
Installing collected packages: tensorboard-plugin-wit, libclang, flatbuffers, werkzeug, termcolor, tensorflow-io-gcs-filesystem, tensorflow-estimator, tensorboard-data-server, protobuf, opt-einsum, keras, h5py, grpcio, google-pasta, gast, astunparse, absl-py, markdown, google-auth-oauthlib, tensorboard, tensorflow
  WARNING: The script markdown_py is installed in '/home/emr-notebook/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script google-oauthlib-tool is installed in '/home/emr-notebook/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The script tensorboard is installed in '/home/emr-notebook/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
  WARNING: The scripts estimator_ckpt_converter, import_pb_to_tensorboard, saved_model_cli, tensorboard, tf_upgrade_v2, tflite_convert, toco and toco_from_protos are installed in '/home/emr-notebook/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed absl-py-2.1.0 astunparse-1.6.3 flatbuffers-25.9.23 gast-0.4.0 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.62.3 h5py-3.8.0 keras-2.11.0 libclang-18.1.1 markdown-3.4.4 opt-einsum-3.3.0 protobuf-3.19.6 tensorboard-2.11.2 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.11.0 tensorflow-estimator-2.11.0 tensorflow-io-gcs-filesystem-0.34.0 termcolor-2.3.0 werkzeug-2.2.3
Note: you may need to restart the kernel to use updated packages.

In [14]:
pip install xgboost

Defaulting to user installation because normal site-packages is not writeable
Collecting xgboost
  Downloading xgboost-1.6.2-py3-none-manylinux2014_x86_64.whl (255.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 255.9/255.9 MB 6.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: scipy in /home/emr-notebook/.local/lib/python3.7/site-packages (from xgboost) (1.7.3)
Requirement already satisfied: numpy in /mnt/notebook-env/lib/python3.7/site-packages (from xgboost) (1.21.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.6.2
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd

df = pd.read_csv("s3://pcp-analytics-data-cdl/Jonida/Udacity/Project1/listings.csv.gz", compression="gzip")      # infers gzip by .gz
df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,27262,https://www.airbnb.com/rooms/27262,20250926033717,2025-09-27,previous scrape,"AQA-No7, Great mattress, high speed internet",THE MATTRESS - KING KOIL - Camden Luxury 160x2...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,37177,...,4.97,4.75,4.71,00002433111,t,1,1,0,0,0.18
1,33945,https://www.airbnb.com/rooms/33945,20250926033717,2025-09-26,city scrape,Spacious Cosy aprtm very close to Metro!,Apartment located near metro station. Safe nei...,Neighbourhood is alive all day and safe all da...,https://a0.muscache.com/pictures/1a7a1026-f5f1...,146553,...,4.91,4.64,4.81,00000874421,f,1,1,0,0,0.49
2,49489,https://www.airbnb.com/rooms/49489,20250926033717,2025-09-26,city scrape,Ermou 44 - 3bdr apt in the heart of Athens,"Fully furnished, 98 sq.mt., apartment on 44 Er...",The apartment is located at the commercial cen...,https://a0.muscache.com/pictures/9640239/4bfd2...,225612,...,4.87,4.89,4.69,00000876484,t,3,3,0,0,0.83
3,60394,https://www.airbnb.com/rooms/60394,20250926033717,2025-09-26,city scrape,Cosy apartment! Great central Athens location!,Fully furnished cozy apartment in the best nei...,Very centrally located with a feeling of a qui...,https://a0.muscache.com/pictures/477282/db550f...,290864,...,4.97,4.92,4.92,00000508830,f,1,1,0,0,0.29
4,134340,https://www.airbnb.com/rooms/134340,20250926033717,2025-09-27,previous scrape,Neo Pagrati Athens Apartment,Little gem with the best of all worlds! Locate...,Our street is a small one with very little tra...,https://a0.muscache.com/pictures/1232312/4edeb...,659406,...,4.93,4.56,4.83,00002821300,f,1,1,0,0,0.36

In [2]:
print(df.columns)

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [2]:
df = df[['id',
       'neighbourhood_cleansed', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds',  'price',
       'review_scores_value', 'number_of_reviews_ly', 'review_scores_location', 'availability_365']]
df.head()

,id,neighbourhood_cleansed,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,price,review_scores_value,number_of_reviews_ly,review_scores_location,availability_365
0,27262,ΑΜΠΕΛΟΚΗΠΟΙ,Entire home/apt,2,NaN,1 bath,1.0,NaN,NaN,4.71,5,4.75,0
1,33945,ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ,Entire home/apt,4,1.0,1 bath,2.0,3.0,$45.00,4.81,8,4.64,269
2,49489,ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ,Entire home/apt,7,1.5,1.5 baths,3.0,4.0,$160.00,4.69,4,4.89,72
3,60394,ΣΤΑΔΙΟ,Entire home/apt,2,1.0,1 bath,1.0,3.0,$50.00,4.92,5,4.92,54
4,134340,ΠΑΓΚΡΑΤΙ,Entire home/apt,2,NaN,1 bath,1.0,NaN,NaN,4.83,4,4.56,0

In [3]:
## I am only intersting on Apartment / Entire home 

df = df[df["room_type"] == "Entire home/apt"]

In [4]:
counts = df["price"].value_counts(dropna=False)
print(counts)

NaN          903
$45.00       216
$54.00       216
$60.00       202
$72.00       201
            ...
$520.00        1
$631.00        1
$394.00        1
$1,235.00      1
$480.00        1
Name: price, Length: 582, dtype: int64

In [5]:
counts = df["neighbourhood_cleansed"].value_counts(dropna=False)
print(counts)

ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ              2929
ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ                 1359
ΝΕΟΣ ΚΟΣΜΟΣ                         1134
ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ            1028
ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ     864
ΠΑΓΚΡΑΤΙ                             613
ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ                      532
ΚΟΛΩΝΑΚΙ                             498
ΑΚΡΟΠΟΛΗ                             463
ΑΜΠΕΛΟΚΗΠΟΙ                          452
ΠΕΤΡΑΛΩΝΑ                            444
ΘΗΣΕΙΟ                               418
ΚΕΡΑΜΕΙΚΟΣ                           387
ΣΤΑΔΙΟ                               273
ΚΥΨΕΛΗ                               267
ΓΟΥΔΙ                                255
ΙΛΙΣΙΑ                               216
ΖΑΠΠΕΙΟ                              205
ΛΥΚΑΒΗΤΤΟΣ                           188
ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ                     158
ΝΙΡΒΑΝΑ                              144
ΠΑΤΗΣΙΑ                              144
ΚΟΛΩΝΟΣ                              127
ΑΝΩ ΚΥΨΕΛΗ                           122
ΒΟΤΑΝΙΚΟΣ                            112
ΓΚΑΖΙ                                111
ΓΟΥΒΑ                                107
ΓΚΥΖΗ                                105
ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ                    100
ΠΕΔΙΟ ΑΡΕΩΣ                           96
ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ                        84
ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ                       80
ΑΝΩ ΠΑΤΗΣΙΑ                           71
ΕΛΛΗΝΟΡΩΣΩΝ                           69
ΝΕΑ ΚΥΨΕΛΗ                            59
ΣΕΠΟΛΙΑ                               57
1Ο ΝΕΚΡΟΤΑΦΕΙΟ                        45
ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ                      32
ΠΟΛΥΓΩΝΟ                              28
ΚΟΛΟΚΥΝΘΟΥ                            14
ΡΙΖΟΥΠΟΛΗ                             10
ΠΡΟΜΠΟΝΑ                               7
ΡΗΓΙΛΛΗΣ                               6
ΠΕΝΤΑΓΩΝΟ                              1
Name: neighbourhood_cleansed, dtype: int64

In [5]:
df2 = df[df['neighbourhood_cleansed'].notna()].copy()

# group and sum
neigh_reviews = (
    df2
    .groupby('neighbourhood_cleansed', as_index=False)['number_of_reviews_ly']
    .sum()
    .rename(columns={'number_of_reviews_ly': 'total_reviews_ly'})
    .sort_values('total_reviews_ly', ascending=False)
    .reset_index(drop=True)
)

print(neigh_reviews.head(50))

              neighbourhood_cleansed  total_reviews_ly
0             ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ             40943
1                ΚΟΥΚΑΚΙ-ΜΑΚΡΥΓΙΑΝΝΗ             22500
2                        ΝΕΟΣ ΚΟΣΜΟΣ             16239
3   ΑΓΙΟΣ ΚΩΝΣΤΑΝΤΙΝΟΣ-ΠΛΑΤΕΙΑ ΒΑΘΗΣ             11901
4           ΜΟΥΣΕΙΟ-ΕΞΑΡΧΕΙΑ-ΝΕΑΠΟΛΗ             10476
5                           ΑΚΡΟΠΟΛΗ              7717
6                             ΘΗΣΕΙΟ              7600
7                         ΚΕΡΑΜΕΙΚΟΣ              6567
8                           ΠΑΓΚΡΑΤΙ              5693
9                          ΠΕΤΡΑΛΩΝΑ              5182
10                   ΠΛΑΤΕΙΑ ΑΤΤΙΚΗΣ              5088
11                       ΑΜΠΕΛΟΚΗΠΟΙ              4618
12                           ΖΑΠΠΕΙΟ              4600
13                          ΚΟΛΩΝΑΚΙ              4293
14                            ΣΤΑΔΙΟ              3404
15                           ΝΙΡΒΑΝΑ              2058
16                            ΚΥΨΕΛΗ              1858
17                             ΓΚΑΖΙ              1703
18                            ΙΛΙΣΙΑ              1674
19                             ΓΟΥΔΙ              1660
20                           ΚΟΛΩΝΟΣ              1445
21                         ΒΟΤΑΝΙΚΟΣ              1311
22                   ΣΤΑΘΜΟΣ ΛΑΡΙΣΗΣ              1273
23                        ΛΥΚΑΒΗΤΤΟΣ              1187
24                  ΠΛΑΤΕΙΑ ΑΜΕΡΙΚΗΣ              1092
25                           ΠΑΤΗΣΙΑ              1018
26                        ΑΝΩ ΚΥΨΕΛΗ               985
27                             ΓΟΥΒΑ               957
28                    ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ               891
29                 ΑΚΑΔΗΜΙΑ ΠΛΑΤΩΝΟΣ               879
30                             ΓΚΥΖΗ               692
31                    1Ο ΝΕΚΡΟΤΑΦΕΙΟ               633
32                       ΠΕΔΙΟ ΑΡΕΩΣ               587
33                       ΕΛΛΗΝΟΡΩΣΩΝ               555
34                       ΑΝΩ ΠΑΤΗΣΙΑ               546
35                  ΑΓΙΟΣ ΕΛΕΥΘΕΡΙΟΣ               369
36                           ΣΕΠΟΛΙΑ               364
37                        ΝΕΑ ΚΥΨΕΛΗ               267
38                        ΚΟΛΟΚΥΝΘΟΥ               156
39                          ΠΟΛΥΓΩΝΟ               109
40                          ΡΗΓΙΛΛΗΣ                87
41                          ΠΡΟΜΠΟΝΑ                56
42                         ΡΙΖΟΥΠΟΛΗ                53
43                         ΠΕΝΤΑΓΩΝΟ                15

In [6]:
df = df.drop(columns=[ 'room_type'])
df.head()

,id,neighbourhood_cleansed,accommodates,bathrooms,bathrooms_text,bedrooms,beds,price,review_scores_value,number_of_reviews_ly,review_scores_location,availability_365
0,27262,ΑΜΠΕΛΟΚΗΠΟΙ,2,NaN,1 bath,1.0,NaN,NaN,4.71,5,4.75,0
1,33945,ΑΓΙΟΣ ΝΙΚΟΛΑΟΣ,4,1.0,1 bath,2.0,3.0,$45.00,4.81,8,4.64,269
2,49489,ΕΜΠΟΡΙΚΟ ΤΡΙΓΩΝΟ-ΠΛΑΚΑ,7,1.5,1.5 baths,3.0,4.0,$160.00,4.69,4,4.89,72
3,60394,ΣΤΑΔΙΟ,2,1.0,1 bath,1.0,3.0,$50.00,4.92,5,4.92,54
4,134340,ΠΑΓΚΡΑΤΙ,2,NaN,1 bath,1.0,NaN,NaN,4.83,4,4.56,0

In [7]:
list = ["1Ο ΝΕΚΡΟΤΑΦΕΙΟ", "ΑΝΩ ΠΑΤΗΣΙΑ", "ΣΤΑΔΙΟ", "ΛΥΚΑΒΗΤΤΟΣ"]
df = df[df["neighbourhood_cleansed"].isin(list)]

In [11]:
df.head()

,id,neighbourhood_cleansed,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,review_scores_value,number_of_reviews_ly,review_scores_location,availability_365
3,60394,ΣΤΑΔΙΟ,2,1.0,1 bath,1.0,3.0,"[""Hangers"", ""Dedicated workspace"", ""Kitchen"", ...",$50.00,4.92,5,4.92,54
27,691025,ΣΤΑΔΙΟ,4,1.0,1 bath,2.0,2.0,"[""Hangers"", ""Clothing storage: closet"", ""Kitch...",$66.00,4.82,2,4.89,261
40,807239,ΑΝΩ ΠΑΤΗΣΙΑ,2,1.0,1 bath,1.0,1.0,"[""Essentials"", ""Hangers"", ""Wifi"", ""Washer"", ""L...",$43.00,4.75,0,4.75,363
63,1272844,1Ο ΝΕΚΡΟΤΑΦΕΙΟ,2,1.0,1 bath,1.0,1.0,"[""Hangers"", ""Kitchen"", ""Oven"", ""Refrigerator"",...",$22.00,4.62,0,4.71,237
73,1499953,ΛΥΚΑΒΗΤΤΟΣ,6,2.0,2 baths,2.0,3.0,"[""Hangers"", ""Dedicated workspace"", ""Kitchen"", ...",$156.00,4.82,13,4.92,340

In [14]:
n = df.shape[0]
print(n)
n_distinct = df["id"].nunique(dropna=True)   # exclude NaN
print(n_distinct)

577
577

In [9]:
counts = df["bathrooms_text"].value_counts(dropna=False)
print(counts)

1 bath       473
2 baths       49
1.5 baths     36
3 baths        9
2.5 baths      5
5.5 baths      1
4 baths        1
0 baths        1
4.5 baths      1
3.5 baths      1
Name: bathrooms_text, dtype: int64

In [10]:
counts = df["bathrooms"].value_counts(dropna=False)
print(counts)

1.0    419
NaN     69
2.0     46
1.5     27
3.0      9
2.5      3
5.5      1
0.0      1
4.5      1
3.5      1
Name: bathrooms, dtype: int64

In [8]:
import pandas as pd

# work on a safe copy
df = df.copy()

# normalize 'Half-bath' etc. (optional) and ensure string type
s = df['bathrooms_text'].fillna('').astype(str)
s = s.str.replace(r'(?i)\bhalf[- ]?bath\b', '0.5', regex=True)

# extract first numeric token (handles "1 bath", "1.5 baths", "0.5", etc.)
nums = pd.to_numeric(s.str.extract(r'([0-9]*\.?[0-9]+)')[0], errors='coerce')

# fill bathrooms only where it is null
df.loc[df['bathrooms'].isna(), 'bathrooms'] = nums

# ensure bathrooms is float
df['bathrooms'] = pd.to_numeric(df['bathrooms'], errors='coerce').astype(float)

df.head()

,id,neighbourhood_cleansed,accommodates,bathrooms,bathrooms_text,bedrooms,beds,price,review_scores_value,number_of_reviews_ly,review_scores_location,availability_365
3,60394,ΣΤΑΔΙΟ,2,1.0,1 bath,1.0,3.0,$50.00,4.92,5,4.92,54
27,691025,ΣΤΑΔΙΟ,4,1.0,1 bath,2.0,2.0,$66.00,4.82,2,4.89,261
40,807239,ΑΝΩ ΠΑΤΗΣΙΑ,2,1.0,1 bath,1.0,1.0,$43.00,4.75,0,4.75,363
63,1272844,1Ο ΝΕΚΡΟΤΑΦΕΙΟ,2,1.0,1 bath,1.0,1.0,$22.00,4.62,0,4.71,237
73,1499953,ΛΥΚΑΒΗΤΤΟΣ,6,2.0,2 baths,2.0,3.0,$156.00,4.82,13,4.92,340

In [9]:
df = df.drop(columns=['bathrooms_text'])

In [20]:
df.head(20)

,id,neighbourhood_cleansed,accommodates,bathrooms,bedrooms,beds,amenities,price,review_scores_value,number_of_reviews_ly,review_scores_location,availability_365
3,60394,ΣΤΑΔΙΟ,2,1.0,1.0,3.0,"[""Hangers"", ""Dedicated workspace"", ""Kitchen"", ...",$50.00,4.92,5,4.92,54
27,691025,ΣΤΑΔΙΟ,4,1.0,2.0,2.0,"[""Hangers"", ""Clothing storage: closet"", ""Kitch...",$66.00,4.82,2,4.89,261
40,807239,ΑΝΩ ΠΑΤΗΣΙΑ,2,1.0,1.0,1.0,"[""Essentials"", ""Hangers"", ""Wifi"", ""Washer"", ""L...",$43.00,4.75,0,4.75,363
63,1272844,1Ο ΝΕΚΡΟΤΑΦΕΙΟ,2,1.0,1.0,1.0,"[""Hangers"", ""Kitchen"", ""Oven"", ""Refrigerator"",...",$22.00,4.62,0,4.71,237
73,1499953,ΛΥΚΑΒΗΤΤΟΣ,6,2.0,2.0,3.0,"[""Hangers"", ""Dedicated workspace"", ""Kitchen"", ...",$156.00,4.82,13,4.92,340
93,2219385,ΣΤΑΔΙΟ,6,2.0,2.0,3.0,"[""Hangers"", ""Clothing storage: closet"", ""Kitch...",$65.00,4.72,5,4.74,204
101,2534822,ΛΥΚΑΒΗΤΤΟΣ,5,1.5,2.0,3.0,"[""Hangers"", ""Kitchen"", ""Oven"", ""Refrigerator"",...",$53.00,4.70,7,4.50,200
159,4399187,ΛΥΚΑΒΗΤΤΟΣ,4,1.0,1.0,1.0,"[""Hangers"", ""Kitchen"", ""Oven"", ""Refrigerator"",...",$81.00,4.84,10,4.86,82
200,5989683,ΛΥΚΑΒΗΤΤΟΣ,2,1.0,0.0,1.0,"[""Hangers"", ""Kitchen"", ""Refrigerator"", ""Pets a...",$115.00,4.55,2,4.86,360
202,6021135,ΣΤΑΔΙΟ,4,1.0,1.0,NaN,"[""Hangers"", ""Dedicated workspace"", ""Wine glass...",NaN,4.83,2,4.83,326
208,6148073,ΛΥΚΑΒΗΤΤΟΣ,4,1.0,1.0,2.0,"[""Hangers"", ""Clothing storage: closet"", ""Dedic...",$90.00,4.95,38,4.79,340
209,6163186,ΣΤΑΔΙΟ,9,1.5,4.0,3.0,"[""Hangers"", ""Clothing storage: closet"", ""Dedic...",$230.00,4.76,31,4.80,87
258,7834234,ΛΥΚΑΒΗΤΤΟΣ,3,1.0,1.0,2.0,"[""Essentials"", ""Wifi"", ""Shampoo"", ""Heating"", ""...",$149.00,4.40,0,4.20,362
266,8322450,ΛΥΚΑΒΗΤΤΟΣ,2,1.0,1.0,1.0,"[""Hangers"", ""Dedicated workspace"", ""Kitchen"", ...",$58.00,4.89,7,4.76,348
318,10127086,ΑΝΩ ΠΑΤΗΣΙΑ,2,1.5,1.0,NaN,"[""Hangers"", ""Dedicated workspace"", ""Kitchen"", ...",NaN,4.85,0,4.72,0
325,10325584,ΣΤΑΔΙΟ,5,1.0,2.0,3.0,"[""Hangers"", ""Kitchen"", ""Wine glasses"", ""Outdoo...",$78.00,4.79,5,4.85,323
330,10400201,ΣΤΑΔΙΟ,3,1.0,0.0,2.0,"[""Hangers"", ""Dedicated workspace"", ""Kitchen"", ...",$32.00,4.84,61,4.80,279
342,10806105,ΣΤΑΔΙΟ,2,1.0,0.0,1.0,"[""Hangers"", ""Clothing storage: closet"", ""Dedic...",$46.00,4.86,25,4.84,158
344,10817455,ΛΥΚΑΒΗΤΤΟΣ,7,2.0,2.0,3.0,"[""Hangers"", ""Kitchen"", ""Oven"", ""Refrigerator"",...",$101.00,4.89,0,4.72,303
381,11614090,ΣΤΑΔΙΟ,5,1.0,2.0,2.0,"[""Hangers"", ""Dedicated workspace"", ""Kitchen"", ...",$73.00,4.88,46,4.91,287

In [10]:
df1 = df.copy()

# 1) Clean price: remove leading $ and thousands separators, convert to numeric
df1['price_clean'] = (
    df1['price']
    .astype(str)
    .str.strip()
    .str.replace(r'^\$', '', regex=True)   # remove leading $
    .str.replace(r'[,\s]', '', regex=True) # remove commas/spaces
)
df1['price_clean'] = pd.to_numeric(df1['price_clean'], errors='coerce')


# 3) Optionally drop rows with missing neighbourhood or price/accommodates
df2 = df1.dropna(subset=['neighbourhood_cleansed', 'accommodates', 'price_clean']).copy()

# 4) Group and compute average price
grouped = (
    df2
    .groupby(['neighbourhood_cleansed', 'accommodates'], as_index=False)
    .agg(avg_price=('price_clean', 'mean'), n_listings=('price_clean', 'size'))
)
grouped['avg_price'] = grouped['avg_price'].round(2)
grouped = grouped.sort_values(['neighbourhood_cleansed', 'accommodates']).reset_index(drop=True)

print(grouped.head(10))

  neighbourhood_cleansed  accommodates  avg_price  n_listings
0         1Ο ΝΕΚΡΟΤΑΦΕΙΟ             2      67.91          11
1         1Ο ΝΕΚΡΟΤΑΦΕΙΟ             3     228.50           2
2         1Ο ΝΕΚΡΟΤΑΦΕΙΟ             4      90.12          16
3         1Ο ΝΕΚΡΟΤΑΦΕΙΟ             5      77.80           5
4         1Ο ΝΕΚΡΟΤΑΦΕΙΟ             6     117.33           3
5         1Ο ΝΕΚΡΟΤΑΦΕΙΟ             8     105.50           2
6            ΑΝΩ ΠΑΤΗΣΙΑ             2      49.80          20
7            ΑΝΩ ΠΑΤΗΣΙΑ             3      50.58          12
8            ΑΝΩ ΠΑΤΗΣΙΑ             4      61.57          21
9            ΑΝΩ ΠΑΤΗΣΙΑ             5      77.00           2

In [13]:
df['price_clean'] = (
    df['price'].astype(str)
      .str.strip()
      .str.replace(r'^\$', '', regex=True)
      .str.replace(r'[,\s]', '', regex=True)
)
df['price_clean'] = pd.to_numeric(df['price_clean'], errors='coerce')

df = df.merge(grouped, on=['neighbourhood_cleansed', 'accommodates'], how='left')

# 4) fill null price_clean with the group avg
df.loc[df['price_clean'].isna(), 'price_clean'] = df.loc[df['price_clean'].isna(), 'avg_price_x']

# 5) cleanup: drop helper avg_price if you want
df = df.drop(columns=[ 'price' ,'avg_price_x', 'n_listings_x', 'avg_price_y', 'n_listings_y'])
df.head(20)

,id,neighbourhood_cleansed,accommodates,bathrooms,bedrooms,beds,review_scores_value,number_of_reviews_ly,review_scores_location,availability_365,price_clean,avg_price,n_listings
0,60394,ΣΤΑΔΙΟ,2,1.0,1.0,3.0,4.92,5,4.92,54,50.00,64.92,64
1,691025,ΣΤΑΔΙΟ,4,1.0,2.0,2.0,4.82,2,4.89,261,66.00,127.64,84
2,807239,ΑΝΩ ΠΑΤΗΣΙΑ,2,1.0,1.0,1.0,4.75,0,4.75,363,43.00,49.80,20
3,1272844,1Ο ΝΕΚΡΟΤΑΦΕΙΟ,2,1.0,1.0,1.0,4.62,0,4.71,237,22.00,67.91,11
4,1499953,ΛΥΚΑΒΗΤΤΟΣ,6,2.0,2.0,3.0,4.82,13,4.92,340,156.00,159.12,8
5,2219385,ΣΤΑΔΙΟ,6,2.0,2.0,3.0,4.72,5,4.74,204,65.00,108.33,18
6,2534822,ΛΥΚΑΒΗΤΤΟΣ,5,1.5,2.0,3.0,4.70,7,4.50,200,53.00,114.90,10
7,4399187,ΛΥΚΑΒΗΤΤΟΣ,4,1.0,1.0,1.0,4.84,10,4.86,82,81.00,97.62,61
8,5989683,ΛΥΚΑΒΗΤΤΟΣ,2,1.0,0.0,1.0,4.55,2,4.86,360,115.00,84.36,67
9,6021135,ΣΤΑΔΙΟ,4,1.0,1.0,NaN,4.83,2,4.83,326,127.64,127.64,84
10,6148073,ΛΥΚΑΒΗΤΤΟΣ,4,1.0,1.0,2.0,4.95,38,4.79,340,90.00,97.62,61
11,6163186,ΣΤΑΔΙΟ,9,1.5,4.0,3.0,4.76,31,4.80,87,230.00,174.00,2
12,7834234,ΛΥΚΑΒΗΤΤΟΣ,3,1.0,1.0,2.0,4.40,0,4.20,362,149.00,89.23,26
13,8322450,ΛΥΚΑΒΗΤΤΟΣ,2,1.0,1.0,1.0,4.89,7,4.76,348,58.00,84.36,67
14,10127086,ΑΝΩ ΠΑΤΗΣΙΑ,2,1.5,1.0,NaN,4.85,0,4.72,0,49.80,49.80,20
15,10325584,ΣΤΑΔΙΟ,5,1.0,2.0,3.0,4.79,5,4.85,323,78.00,112.62,16
16,10400201,ΣΤΑΔΙΟ,3,1.0,0.0,2.0,4.84,61,4.80,279,32.00,123.53,34
17,10806105,ΣΤΑΔΙΟ,2,1.0,0.0,1.0,4.86,25,4.84,158,46.00,64.92,64
18,10817455,ΛΥΚΑΒΗΤΤΟΣ,7,2.0,2.0,3.0,4.89,0,4.72,303,101.00,281.00,2
19,11614090,ΣΤΑΔΙΟ,5,1.0,2.0,2.0,4.88,46,4.91,287,73.00,112.62,16

In [27]:
counts = df["price_clean"].value_counts(dropna=False)
print(counts)

64.92     15
60.00     13
127.64    13
59.00     13
50.00     11
          ..
24.00      1
111.00     1
119.00     1
461.00     1
226.00     1
Name: price_clean, Length: 175, dtype: int64

In [14]:
# We have only the availability and we want to know the booking days. 
df['booked_days'] = 365 - df['availability_365']

In [15]:
df['revenue_365'] = df['booked_days']*df['price_clean']

In [15]:
df.head()

,id,neighbourhood_cleansed,accommodates,bathrooms,bedrooms,beds,review_scores_value,number_of_reviews_ly,review_scores_location,availability_365,price_clean,booked_days,revenue_365
0,60394,ΣΤΑΔΙΟ,2,1.0,1.0,3.0,4.92,5,4.92,54,50.0,311,15550.0
1,691025,ΣΤΑΔΙΟ,4,1.0,2.0,2.0,4.82,2,4.89,261,66.0,104,6864.0
2,807239,ΑΝΩ ΠΑΤΗΣΙΑ,2,1.0,1.0,1.0,4.75,0,4.75,363,43.0,2,86.0
3,1272844,1Ο ΝΕΚΡΟΤΑΦΕΙΟ,2,1.0,1.0,1.0,4.62,0,4.71,237,22.0,128,2816.0
4,1499953,ΛΥΚΑΒΗΤΤΟΣ,6,2.0,2.0,3.0,4.82,13,4.92,340,156.0,25,3900.0

In [ ]:
### Dumi variabels for

In [23]:
counts = df["neighbourhood_cleansed"].value_counts(dropna=False)
print(counts)

ΣΤΑΔΙΟ            273
ΛΥΚΑΒΗΤΤΟΣ        188
ΑΝΩ ΠΑΤΗΣΙΑ        71
1Ο ΝΕΚΡΟΤΑΦΕΙΟ     45
Name: neighbourhood_cleansed, dtype: int64

In [16]:
print(df.columns)

Index(['id', 'neighbourhood_cleansed', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'review_scores_value', 'number_of_reviews_ly',
       'review_scores_location', 'availability_365', 'price_clean',
       'avg_price', 'n_listings', 'booked_days', 'revenue_365'],
      dtype='object')

In [17]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

# copy for safety
df = df.copy()

# ---- specify columns ----
numeric_cols = ['accommodates', 'bathrooms', 'bedrooms', 'beds',
                'review_scores_value', 'number_of_reviews_ly',
                'review_scores_location', 'availability_365',
                'price_clean', 'booked_days']
cat_col = 'neighbourhood_cleansed'
target_col = 'revenue_365'

# ---- ensure types & clean price_clean numeric ----
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')
df[target_col] = pd.to_numeric(df[target_col], errors='coerce')


# drop rows missing target
df_model = df.dropna(subset=[target_col]).copy()
X = df_model[numeric_cols + [cat_col]]
y = df_model[target_col].astype(float)

# optional: transform target to log1p (recommended if skewed)
use_log_target = True
y_model = np.log1p(y) if use_log_target else y

# ---- preprocessing ----
numeric_transformer = Pipeline([('imputer', SimpleImputer(strategy='median')),('scaler', StandardScaler()), ])

categorical_transformer = Pipeline([('imputer', SimpleImputer(strategy='constant', fill_value='__MISSING__')),('ohe', OneHotEncoder(handle_unknown='ignore', sparse=False))])

preprocessor = ColumnTransformer([('num', numeric_transformer, numeric_cols),('cat', categorical_transformer, [cat_col])], remainder='drop')

# ---- model pipeline ----
rf = RandomForestRegressor(n_estimators=300, random_state=42, n_jobs=-1)
model = Pipeline([('pre', preprocessor),('rf', rf)])

# ---- train / test split ----
X_train, X_test, y_train, y_test = train_test_split(X, y_model, test_size=0.2, random_state=42)
model.fit(X_train, y_train)

# ---- predict & evaluate ----
y_pred = model.predict(X_test)
if use_log_target:
    y_test_orig = np.expm1(y_test)
    y_pred_orig = np.expm1(y_pred)
else:
    y_test_orig = y_test
    y_pred_orig = y_pred

print("Test MAE: ", mean_absolute_error(y_test_orig, y_pred_orig))
print("Test RMSE:", mean_squared_error(y_test_orig, y_pred_orig, squared=False))
print("Test R2:  ", r2_score(y_test_orig, y_pred_orig))

# cross-validated MAE on transformed target

cv_scores = cross_val_score(model, X, y_model, cv=5, scoring='neg_mean_absolute_error', n_jobs=-1)
print("5-fold CV MAE (transformed target):", -cv_scores.mean())

# ---- helper to predict a new listing ----
def predict_revenue_for_new(model_pipeline, new_row_dict):
    """
    new_row_dict must contain numeric keys in numeric_cols and a value for 'neighbourhood_cleansed'.
    Missing numeric keys will be treated as NaN and imputed.
    Example:
      new = {'accommodates':2, 'bathrooms':1.0, 'bedrooms':1.0, 'beds':1,
             'review_scores_value':4.8, 'number_of_reviews_ly':0,
             'review_scores_location':4.9, 'availability_365':200,
             'price_clean':60.0, 'booked_days':120,
             'neighbourhood_cleansed':'ΣΤΑΔΙΟ'}
    """
    row = pd.DataFrame([new_row_dict])
    # ensure all expected columns exist
    for c in numeric_cols + [cat_col]:
        if c not in row.columns:
            row[c] = np.nan
    Xnew = row[numeric_cols + [cat_col]]
    pred = model_pipeline.predict(Xnew)[0]
    return float(np.expm1(pred)) if use_log_target else float(pred)

# example
example_new = {
    'accommodates': 2, 'bathrooms': 1.0, 'bedrooms': 1.0, 'beds': 1,
    'review_scores_value': 4.8, 'number_of_reviews_ly': 0,
    'review_scores_location': 4.9, 'availability_365': 200,
    'price_clean': 60.0, 'booked_days': 120,
    'neighbourhood_cleansed': 'ΣΤΑΔΙΟ'
}
print("Predicted revenue_365: ", predict_revenue_for_new(model, example_new))

Predicted revenue_365:  8411.35096173419

Test MAE:  1605.2658313968075
Test RMSE: 7108.064428657916
Test R2:   0.8885025220286522
5-fold CV MAE (transformed target): 0.0910434595370427
Predicted revenue_365:  8411.35096173419

In [20]:
example_new = {
    'accommodates': 6, 'bathrooms': 2.0, 'bedrooms': 3.0, 'beds': 4,
    'review_scores_value': 4.8, 'number_of_reviews_ly': 0,
    'review_scores_location': 4.9, 'availability_365': 200,
    'price_clean': 100.0, 'booked_days': 200,
    'neighbourhood_cleansed': '1Ο ΝΕΚΡΟΤΑΦΕΙΟ'
}
print("Predicted revenue_365: ", predict_revenue_for_new(model, example_new))

Predicted revenue_365:  18099.989855055766